/* selector { propiedad: valor} */

/* Referencias: selectores
ID: se usa una sola vez, en bloques grandes
CLASS: es reutilizable - En html class="miClase" - en csss .miClase {color:green; }
ETIQUETA: <p> <h1>

p { color: green; }
p.miClase { color: red; }
p#miId { color: blue; }

*/

/* Mi codigo CSS */

/* CSS para todas las paginas */

/* Hacemos un reset */
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box; /* Con esto hacemos que cada tamaño de caja de contenido ya incluya podding y margin */
}

html {
    font-family: 'Roboto', sans-serif;
}


ul { 
    list-style: none; /* borro los bullets */
}

.logo {
    width: 150px; /* establezco el ancho del logo */
}

h1.titulo {
    color: #A63232;  /* Color del Titulo cuando es H1 */
}

.bgNosotros {
    background-color: #FFFFFF; /* para probar colores cuando logre alinear el navigation */
}

/* CSS para pagina index */
.cajasDestacadas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cajaItem {
    border: 1px black solid;
    display: flex;
    width: 400px;
    padding: 30px;
    margin: 15px;
    position: relative;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    
    
}

.contactoPresupuesto {

    margin: 20px 0px;
    background-color: #A63232;
    color: #FFFFFF;
    padding: 30px 20px;
    display: flex;
    justify-content: center;

}
.contactoPresupuesto a{
    text-decoration: none;
    color: #FFFFFF;
}

.contactoPresupuesto a:hover{
    text-decoration: none;
    color: #000000;
}


/* CSS para pagina services */
.nuestrosServicios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.servicio {
    border: 1px black solid;
    width: 400px;
    padding: 30px;
    margin: 15px;
    position: relative;
    
    
}
.servicioMasPedido {
    position: absolute;
    top:2px;
    right:5px;
    padding: 5px;
    background-color: #A63232;
    box-shadow: 2px 2px 2px black;
    border-radius: 25%;

}

/* CSS para menu de navegacion */

.navMenu {
    display: flex;
    z-index: 100; 
    position: sticky;
    top: 0px;
    background-color: white;
    justify-content: space-around;
    width: 100%;
}

.navMenu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navMenu li {
    color: #ffffff;
    width: 90px;
    height: 50px;
    text-decoration: none;
    justify-content: center;
    display: flex;
}

.navMenu a {
    text-decoration: none;
    color: #000000;
}

.navMenu a:hover {
    text-decoration: none;
    color: #A63232;
}


/* CSS generales */

.tituloPrincipal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.espaciado
{
    margin: 10px 0px;
}

.sliderPrincipal {
    display: flex;
}

.slideItem {
    display: flex;
    position: relative;
}

.sliderPrincipal img{
    max-width: 100%;
}
/* CSS para footer con grillas */

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items:center;
    justify-content: center;

}

footer .socials {
    width: 30px; /* Limito el tamaño de las imagenes de las redes sociales */
}

footer p {
    font-size: 0.8rem;
    font-weight: 400;
}

/* CSS para pagina de contacto */

form#contacto label {
    color: #A63232;
    font-size: 1.2rem;
    font-weight: 600;
}

