/* Imports */
@import "colores";
@import "header";
@import "tipografias";
@import "footer";


/* CSS Generales */
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box; /* Con esto hacemos que cada tamaño de caja de contenido ya incluya podding y margin */
}

ul { 
    list-style: none; /* borro los bullets */
}

/* CSS para pagina index */

.cajasDestacadas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cajaItem {
    border: 1px black solid;
    display: flex;
    width: 400px;
    padding: 30px;
    margin: 15px;
    position: relative;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    
    
}

.contactoPresupuesto {

    margin: 20px 0px;
    background-color: $colorPrincipal;
    color: #FFFFFF;
    padding: 30px 20px;
    display: flex;
    justify-content: center;

}
.contactoPresupuesto a{
    text-decoration: none;
    color: $colorBlanco;
}

.contactoPresupuesto a:hover{
    text-decoration: none;
    color: $colorNegro;
}


/* CSS para pagina services */

.nuestrosServicios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.servicio {
    border: 1px $colorNegro solid;
    width: 400px;
    padding: 30px;
    margin: 15px;
    position: relative;
    
    
}
.servicioMasPedido {
    position: absolute;
    top:2px;
    right:5px;
    padding: 5px;
    background-color: $colorRojo;
    box-shadow: 2px 2px 2px $colorNegro;
    border-radius: 25%;
    color: $colorBlanco;

}


.tituloPrincipal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.espaciado
{
    margin: 10px 0px;
}

.sliderPrincipal {
    display: flex;
}

.slideItem {
    display: flex;
    position: relative;
}

.sliderPrincipal img{
    max-width: 100%;
}

.iconColor {
    color: #A63232;
}

.logosEmpresas {
    width: 140px;
}

@mixin sizes($width, $height)
{
    width: $width;
    height: $height;
}


.mapa {
    @include sizes(100%,100% )
}

form#contacto label {
    color: $colorPrincipal;
    font-size: 1.2rem;
    font-weight: 600;
}



@media only screen and (max-width:500px) {
    /* Que en mobile el texto sea mas chico */
    .navMenu a {
        font-size: 15px;
    }

    .navMenu {
        background-color: lightgrey;
    }

    .sliderPpal {
        display: none;
    }

    .mapa {
        height: 400px;
    }
}

@media only screen and (min-width:501px) and (max-width:999px) {
    .mapa {
        height: 400px;
    }
 }